{% extends "base.html" %}
{% block body %}
{% filter markdown %}

<!--
  Ohai
-->

Wednesdays, 9:30-12  (2/20 - 4/10)  
NYU ITP, Room 15

_**The week of 3/11, we will meet on Monday (instead of Wednesday) in the Conference Room._

### PROFESSOR

Mike Dory  | [michael.dory@nyu.edu](mailto:michael.dory@nyu.edu)  
<!-- Office hours: (by request) | [Signup form](https://drive.google.com/open?id=1IgicVQ_dpXwKxM8xa1Gps8_8pDBWoD_HGgjPhcYR9VI) -->
Office hours: TBD

### TEAMS

*TBA*


---

<!--
  Main intro copy
-->

<a id="overview" class="anchor"></a>
## OVERVIEW

Design Expo is an eight-week design challenge — seven weeks during the semester, and one after. Students will work in groups to understand, and then respond to, a brief from Microsoft Research (MSR), and then present their work for feedback and iteration. Each week will also feature guest presenters from the practitioners from the likes of Google, Microsoft, Kickstarter, and more.

This year's theme is "Empathy at Scale," and allows for a wide variety of interpretations. Given the scale and range of the topic, it will be critical for students to focus in on a particular community, type of interface, and problem that has impact. Students will form their own small groups of 3-5 people (before applying), and each group will research the challenge, propose possible innovations or solutions, and then iterate those proposals. A successful proposal can be a demo ("We've imagined a new possibility, and this is what it would look like") or a prototype ("We've imagined a new possibility, and we built a small version of it.")

At the end of the workshop, one group will be selected by outside reviewers to travel to Redmond, WA in July/August to present their proposal at MSR's Faculty Research Summit along with other students from top institutions around the world.

This workshop will run from 9:30-12 for seven sessions, and will meet for one additional session in July/August, prior to the trip to Microsoft.


## COMPENSATION

Design Expo is an extra-curricular workshop. As such, accepted groups will be awarded a small research stipend, pending a successful completion of the program. There are also travel funds for presenting the winning project in Redmond, Wa.


## SPECIFICATIONS

Students will submit their proposals as a group by February 12th, and selected groups will be notified of their acceptance by February 15th.


## ASSIGNMENTS

The majority of the assigments given for this workshop are group-oriented, and focus on the definition, evolution, and presentation of each team's concepts. As such, each group should come prepared to not only discuss the assignments each week, but to give updates on the progression of their projects.

<!-- While most readings are available online and/or will be distributed by the instructor, the following text is required:

- [The Glass Cage: How Our Computers Are Changing Us by Nicholas Carr](http://amzn.com/0393351637)

The following texts offer great insights into the the subject matter, and are recommended, though not required:

- [Smarter Than You Think: How Technology Is Changing Our Minds for the Better](http://amzn.com/B00C5R7AJK), Clive Thompson
- [The User Illusion: Cutting Consciousness Down to Size](http://amzn.com/0140230122), Tor Norretranders
- [Pitch Perfect: How to Say It Right the First Time, Every Time](http://amzn.com/B00DB3A4VS), Bill McGowan -->

---


<!--
  Session listing
-->

<a id="outline" class="anchor"></a>
## PROGRAM OUTLINE

<a id="week1" class="anchor"></a>
### Week 1: 2/20 - Why are we here?
<!-- *Speaker: [Oscar Murillo](https://www.linkedin.com/in/oscar-murillo-b942a41), Microsoft* -->

- The plan for this program 
    - [The brief]({% static '/static/documents/design-expo-2019-guidelines.pdf' %})
    - [The website](https://www.microsoft.com/en-us/research/event/microsoft-design-expo/)
    - Your groups
    - The timeline
    - The expectations
- The topic 
    - The details
    - The thought behind it
    - Relevant examples

#### Assignments

- Think about the brief, and how it relates to your ideas
    + Read the brief and guidelines. Seriously, read them - it will help!
    + Come armed with questions for next time
<!-- - Read about the area
    + [Mixed Reality will be most important tech of 2017](https://thenextweb.com/insider/2017/01/07/mixed-reality-will-be-most-important-tech-of-2017/#.tnw_ZuUPJvWo)
    + [Want to Know What Virtual Reality Might Become? Look to the Past](https://www.nytimes.com/2016/11/06/magazine/want-to-know-what-virtual-reality-might-become-look-to-the-past.html?_r=0)
    + [What are the differences among virtual, augmented and mixed reality?](http://www.recode.net/2015/7/27/11615046/whats-the-difference-between-virtual-augmented-and-mixed-reality) -->
- Prepare for your first presentation
    - Give a 5-10 minute presentation on what you want to make
        - What are you proposing, and why?
            - Use images, storyboards, system diagrams, etc., to help explain it
        - What do you plan to do by the end of the workshop?
            - How will you show your concept, and what will it be?
        - Take a swing at how you'll address the following questions
            - What's your idea, and why is it a *good* idea? (can it pass the "so what" test)?
            - What does your market look like? Who would use this/who would this benefit?
            - What does the market look like? Who else has done this?
            - How might it work? What form will it take?
            - What do you plan to produce for this class?
            - who it is for, how it might work, and what you will produce for this class?
- Start a group log/blog
    - Send me the link(s)
    - Add your first post

<!-- **Bonus readings**

- [The Best Virtual Reality From The 2017 Sundance Film Festival](http://www.theverge.com/2017/1/26/14396976/best-vr-sundance-film-festival-2017)
- [The AI Revolution: The Road to Superintelligence](http://waitbutwhy.com/2015/01/artificial-intelligence-revolution-1.html)
- [Welcome to the world of trolling in virtual reality](https://arstechnica.com/business/2017/01/welcome-to-world-of-trolling-in-virtual-reality/)

**Bonus IRL experiences**

- [7 Places Where You Can Experience Virtual Reality In New York](http://virtualrealityobserver.com/7-places-where-you-can-experience-virtual-reality-in-new-york/) -->

<a id="week2" class="anchor"></a>
### Week 2: 2/27 - What's your idea?
*Speaker: [Clive Thompson](http://clivethompson.net), Wired/New York Times*


- Present your concepts (5-10 minutes per group)
    - Group critique
    - Research suggestions
    - Discuss next steps
- Where to go from here 
    - Points of inspiration around the topic
    - Ways to vet/poke at the idea
    - How to work as a team
- Start a project plan
    - Figure out what you'll do and make, and when
    - Determine when to do testing, prototyping, and presenting

#### Assignments

- Develop your project plans (due next week)
    - These can be very low-fidelity
    - Reminder: split up the work amongst the group to suit the timeline
- Refine your concepts
    - Evaluate your mission/vision
- Explore how your idea can work/function/look
    - You can use tools like:
        - [User stories](http://www.designthinkinguk.com/building-perfect-personas/)
        - [Personas](http://johnnyholland.org/2009/08/user-stories-a-strategic-design-tool/)
        - [Storyboards](http://www.fastcodesign.com/1672917/the-8-steps-to-creating-a-great-storyboard)
        - [Sketches](http://alistapart.com/article/sketching-the-visual-thinking-power-tool)
    - Test these with three people *not* in this workshop
- Read these:
    - [From Post-its to Processes: Using Prototypes to Find Solutions](http://mw2014.museumsandtheweb.com/paper/from-post-its-to-processes-using-prototypes-to-find-solutions/)
    - [No UI is the New UI](https://medium.com/swlh/no-ui-is-the-new-ui-ab3f7ecec6b3#.gtxgss6s6)
- Update your class log


<a id="week3" class="anchor"></a>
### Week 3: 3/6 - What did you learn?
*Speaker: [Vikram Tank](https://www.linkedin.com/in/vikramtank), Google*
<!-- *Speaker: [Clive Thompson](http://clivethompson.net), Wired/New York Times* -->

- How's your project plan
    - What are you going to build
    - What are you going to present
    - Who will work on what
- How'd your explorations go
    - How did your mission/vision evolve
    - How did your explorations (user stories, personas, etc.) work out
        - Do they vet the concepts
        - Do people seem to agree/disagree
- How is your idea evolving 
    - How does it work within the theme
    - What will you do/make next
        - As a reminder, the thing you "make" doesn't need to be a functioning prototype
        - Successful projects in the past have included mockups, videos, and other presentation tools, rather than live demos

#### Assignments

- Prepare a 10-15 minute progress presentation for next week
    - What have you done so far?
    - How as your idea evolved
    - What are you working on
- Begin lo-fi prototyping
    - Develop simple ways to validate your concepts
        - Paper/post-it prototyping
            - [Paper Prototyping](http://alistapart.com/article/paperprototyping)
- Update your class log


<a id="week4" class="anchor"></a>
### Week 4: 3/11 (Monday!) - Research and Prototyping
*Speaker: TBC*

- Where are your concepts now 
    - What's changed
    - What are you worrying about
    - What to refine
- How'd your lo-fi prototyping/testing go
    - Did it vet the concepts
    - Do people seem to agree/disagree
- How to do more robust prototypes
    - Group discussion
- How to conclude your research
    - Vetting your concepts
    - Testing with users
    - Learning from your mistakes


#### Assignments

- Prepare a 10-15 minute presentation for next week
    - What have you done so far
    - How has your idea evolved
    - What are you working on
- Work on your prototypes
    - Mockups
    - Clickable visuals
        - InVision
        - Balsamiq
    - Video
- Explain how it might work
    - What will it integrate with
    - What technologies will it make use of
- Update your class log


**--- Spring break: no class 3/20 ---**


<a id="week5" class="anchor"></a>
### Week 5: 3/27 - How do you present it?

- What it means to present well 
    - Good presentation examples
    - How to communicate your ideas
- Revisit the brief and the rules
    - What will you present
    - How will you be judged
    - What will you work on between now and then
- Discuss evolution of concepts
    - Group presentations (10-15 each)
    - Group discussion 

#### Assignments

- Prepare a full presentation for next week
    - Treating this more as a "real" presentation, you should cover:
        - Who you are
        - What you're doing
        - Why you're doing it
        - What you're proposing
        - What you've done so far
        - What you plan to do next
    - Practice this a few times, both on your own and in front of others. It will help, I promise.
    - Decide who will talk about which piece(s), and how you'll make this feel like a fluid presentation.
- Watch at least two of the previous presentations for Design Expo
    - [Design Expo 2017](https://www.microsoft.com/en-us/research/event/design-expo-2017/)
    - [Design Expo 2016](https://www.microsoft.com/en-us/research/event/design-expo-2016/)
    - [Design Expo 2015](https://www.microsoft.com/en-us/research/event/design-expo-2015/)
- Update your class log

**Bonus**

- Check out Ignite presentations for inspiration
    - Read [How To Give a Great Ignite Talk](http://scottberkun.com/2009/how-to-give-a-great-ignite-talk/)
    - Watch some [Ignite videos](http://www.ignitetalks.io/videos)

**Double-bonus**  

- Record your own talk
    - Send it to me if you want — I'll happily give you feedback


<a id="week6" class="anchor"></a>
### Week 6: 4/3 - Bringing it to life
*Guest Critics: TBC*

- Each group presents their work
- Guests provide feedback and critique


<a id="week7" class="anchor"></a>
### Week 7: 4/10 - Presentations  
*Guest Critics: TBC*

- Each group presents their work
- Select our winners!


**--- Break for thesis ---**


<a id="week8" class="anchor"></a>
### Week 8: TBD - Dress rehearsal/workshop

- Feedback and recommendations
- Workshop

### Trip to Redmond: 8/1 - 7/13

- Final presentations at Microsoft!


{% endfilter %}
{% endblock %}